@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }
body {
  background: #021926; }

.mobile-show {
  display: none; }

nav {
  position: fixed;
  right: 30px;
  top: -30px;
  text-align: right;
  z-index: 10000000000;
  -moz-transition: all 0.5s 0s;
  -o-transition: all 0.5s 0s;
  -webkit-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
  transform: translateZ(100000px); }
  nav .logo {
    top: -30px;
    position: relative;
    opacity: 0;
    -moz-transition: all 0.5s 0s;
    -o-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s; }
  nav::before {
    content: " ";
    position: absolute;
    top: -100px;
    right: -30px;
    z-index: -1;
    background-color: black;
    height: 260px;
    width: 0px;
    -moz-transition: all 0.5s 0s;
    -o-transition: all 0.5s 0s;
    -webkit-transition: all 0.5s 0s;
    transition: all 0.5s 0s; }
  nav.active {
    top: 20px; }
    nav.active::before {
      width: 180px; }
    nav.active .logo {
      top: 0px;
      opacity: 1;
      padding-bottom: 5px; }
  nav a {
    display: inline-block;
    position: relative;
    color: #c8c8c8;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 1.25px;
    text-align: right; }
    nav a::before {
      content: " ";
      background-color: #c8c8c8;
      display: block;
      position: absolute;
      height: 1.5px;
      width: 0%;
      top: 15px;
      left: -10px;
      -moz-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      -webkit-transition: all 0.3s 0s;
      transition: all 0.3s 0s; }
    nav a:hover::before, nav a.active::before {
      width: 115%; }

#head-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-height: 50vw;
  max-height: 200vw;
  display: inline-block; }
  #head-container .social-media {
    position: absolute;
    top: 30px;
    left: 30px; }
    #head-container .social-media a {
      display: block;
      padding-top: 15px; }
      #head-container .social-media a img {
        width: 30px;
        height: 30px; }
  #head-container .logo {
    width: 81px;
    padding-top: 30px;
    margin: 0px auto 0px;
    z-index: 100000000000;
    -moz-transition: all 0.5s 0.5s;
    -o-transition: all 0.5s 0.5s;
    -webkit-transition: all 0.5s 0.5s;
    transition: all 0.5s 0.5s; }
    #head-container .logo.active {
      position: fixed;
      right: 30px;
      top: 0px; }
  #head-container .picture-container {
    width: 90%;
    height: 90%;
    max-width: 1000px;
    margin: 0px auto;
    position: relative; }
    #head-container .picture-container .light-bg {
      min-width: 100%;
      max-height: 700px;
      background-size: contain;
      background-repeat: no-repeat;
      height: 700px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      margin: auto;
      background-image: url("../imgs/bg_1.svg");
      position: absolute; }
    #head-container .picture-container img {
      position: absolute; }
      #head-container .picture-container img.light {
        top: 100px;
        width: 100%;
        z-index: 0; }
      #head-container .picture-container img.dark {
        top: 0px;
        width: 85%;
        z-index: 1; }
      #head-container .picture-container img.portrait {
        left: 33vw;
        top: 14vh;
        width: 30%;
        transform: translateZ(100000px); }
    #head-container .picture-container .text {
      transform: translateZ(100000px);
      position: absolute;
      top: 37vh;
      z-index: 10;
      font-family: "Ubuntu";
      font-size: 120px;
      font-weight: bold;
      letter-spacing: 1.76px;
      color: #f8e71c;
      left: 10vw; }
  #head-container .intro {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.73px;
    color: #c8c8c8;
    position: absolute;
    transform: translateZ(100000px); }
    #head-container .intro.left {
      left: 30px;
      bottom: 30vh; }
    #head-container .intro.right {
      right: 30px;
      bottom: 40vh;
      text-align: right; }
  #head-container .copy-right {
    transform: translateZ(100000px);
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #c8c8c8;
    font-family: "Lato";
    font-size: 14px;
    letter-spacing: 1.21px; }
  #head-container .scroll {
    position: absolute;
    font-family: "Lato";
    right: 30px;
    bottom: 30px;
    animation: bounce 2.5s infinite; }
    #head-container .scroll div {
      color: #c8c8c8;
      font-family: "Lato";
      font-size: 18px;
      letter-spacing: 1.21px;
      position: absolute;
      top: 30px;
      left: -18px;
      transform: rotate(-0.25turn); }

.container {
  position: relative; }
  .container .large-title {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(-90deg);
    -o-transform-origin: right top;
    -webkit-text-stroke: 1px #f8e71c;
    font-family: "Ubuntu";
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 80px;
    color: rgba(248, 231, 28, 0);
    position: absolute;
    top: 0px;
    right: 100%;
    -moz-transition: all 1.5s 0s;
    -o-transition: all 1.5s 0s;
    -webkit-transition: all 1.5s 0s;
    transition: all 1.5s 0s; }
    .container .large-title span {
      font-size: 48px;
      letter-spacing: 30px;
      -moz-transition: all 1.5s 0s;
      -o-transition: all 1.5s 0s;
      -webkit-transition: all 1.5s 0s;
      transition: all 1.5s 0s; }
    .container .large-title.inview {
      letter-spacing: 1.76px; }
      .container .large-title.inview span {
        letter-spacing: 2.4px; }
  .container .item-container {
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
    min-height: 300px; }
    .container .item-container .title {
      font-family: "Lato";
      font-size: 28px;
      font-weight: bold;
      line-height: 1.39;
      letter-spacing: 1.46px;
      color: white; }
    .container .item-container .date {
      font-family: "Lato";
      font-size: 14px;
      letter-spacing: 1px;
      color: white;
      margin-top: 10px; }
      .container .item-container .date a {
        text-decoration: none;
        color: white;
        font-weight: bold; }
        .container .item-container .date a:hover {
          color: #c8c8c8; }
    .container .item-container .detail {
      font-family: "Lato";
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: 0.94px;
      color: #c8c8c8;
      margin-top: 15px; }
    .container .item-container .project-sep {
      width: 100%;
      height: 1px;
      background-color: #c8c8c8;
      margin: 40px 0px 10px; }

.project-container-w-bg {
  background-color: #0a2635;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px; }
  .project-container-w-bg::before {
    position: absolute;
    content: " ";
    display: block;
    top: -100px;
    width: 100%;
    height: 100px;
    background: #0a2635;
    transform-origin: left;
    transform: skewY(2deg);
    z-index: -1;
    box-shadow: inset 0px 35px 35px -20px rgba(0, 0, 0, 0.5); }
  .project-container-w-bg::after {
    position: absolute;
    content: " ";
    display: block;
    bottom: -30px;
    width: 100%;
    height: 100px;
    background: #0a2635;
    transform-origin: left;
    transform: skewY(2deg);
    z-index: -1;
    box-shadow: inset 0px -35px 35px -20px rgba(0, 0, 0, 0.5); }

.project-container-gd {
  margin-top: 100px; }
  .project-container-gd .item-container .graphic-container {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    min-height: 40px; }
    .project-container-gd .item-container .graphic-container img {
      display: block;
      margin-bottom: 60px;
      width: 55%; }
    .project-container-gd .item-container .graphic-container .text-wrap {
      display: block;
      width: 38%;
      padding-left: 30px;
      margin-top: 130px;
      vertical-align: middle; }
    .project-container-gd .item-container .graphic-container.left .text-wrap, .project-container-gd .item-container .graphic-container.left img {
      float: right; }
    .project-container-gd .item-container .graphic-container.right .text-wrap, .project-container-gd .item-container .graphic-container.right img {
      float: left; }

.experience-container .item-container .detail {
  margin-bottom: 40px; }
.experience-container .item-container a {
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none; }
  .experience-container .item-container a:hover {
    color: #c8c8c8; }

.about-container {
  margin-top: 100px; }
  .about-container .item-container .date {
    margin: 5px 0px 25px; }
  .about-container .item-container .detail a {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    color: #c8c8c8;
    text-decoration: none; }
    .about-container .item-container .detail a:hover {
      color: white; }
  .about-container .item-container .honor-detail {
    padding-left: 20px;
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 1.46px;
    color: #e4e4e4;
    margin-top: 10px; }
    .about-container .item-container .honor-detail .year {
      font-weight: bold;
      position: relative; }
      .about-container .item-container .honor-detail .year::after {
        width: 40px;
        height: 2px;
        background-color: #f8e71c;
        transform: rotate(-45deg);
        content: " ";
        position: absolute;
        left: 35px;
        top: 20px; }
    .about-container .item-container .honor-detail .detail {
      margin: 0px 70px 0px; }
  .about-container .item-container .social-media a {
    margin-right: 10px; }
    .about-container .item-container .social-media a img {
      opacity: 0.8; }
      .about-container .item-container .social-media a img:hover {
        opacity: 1; }

@media all and (max-width: 1185px) {
  .mobile-show {
    display: block; }

  .mobile-hidden {
    display: none; }

  .container .large-title {
    position: relative;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(0deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(0deg);
    -o-transform-origin: right top;
    right: 0;
    padding: 10px;
    margin: 0px auto;
    max-width: 900px;
    width: 90%;
    overflow: hidden;
    letter-spacing: 50px;
    font-size: 100px; }

  #head-container .picture-container img.portrait {
    left: 40vw;
    top: 10vh;
    width: 30%;
    transform: translateZ(100000px); }
  #head-container .picture-container .text {
    font-size: 100px;
    left: 15vw; } }
@media all and (max-width: 1185px) and (min-height: 1300px) {
  #head-container .picture-container .light-bg {
    margin-top: 280px; }
  #head-container .picture-container img.portrait {
    left: 40vw;
    top: 13vh;
    width: 45%;
    transform: translateZ(100000px); }
  #head-container .picture-container .text {
    font-size: 100px;
    left: 15vw;
    top: 45vh; }
  #head-container .intro.left {
    left: 30px;
    bottom: 10vh; }
  #head-container .intro.right {
    right: 30px;
    bottom: 30vh;
    text-align: right; } }
@media all and (max-width: 1020px) {
  #head-container .picture-container .light-bg {
    margin-top: 250px; }
  #head-container .picture-container img.portrait {
    left: 40vw;
    top: 13vh;
    width: 45%;
    transform: translateZ(100000px); }
  #head-container .picture-container .text {
    font-size: 100px;
    left: 15vw;
    top: 40vh; }
  #head-container .intro.left {
    left: 30px;
    bottom: 10vh; }
  #head-container .intro.right {
    right: 30px;
    bottom: 30vh; }

  .project-container-w-bg::before, .project-container-w-bg::after {
    transform: skewY(5deg); } }
@media all and (max-width: 750px) {
  nav {
    position: absolute;
    right: 15px;
    top: -40px; }
    nav a {
      font-size: 16px; }
    nav.active {
      display: none; }

  #head-container .social-media {
    top: 10px;
    left: 15px; }
  #head-container .picture-container {
    width: 60%; }
    #head-container .picture-container .light-bg {
      margin-top: 0px; }
    #head-container .picture-container img.portrait {
      left: 35vw;
      top: 15vh;
      width: 30%;
      transform: translateZ(100000px); }
    #head-container .picture-container .text {
      font-size: 50px;
      left: 11vw;
      top: 34vh; }
  #head-container .intro.left {
    left: 15px;
    bottom: 13vh;
    font-size: 14px; }
  #head-container .intro.right {
    right: 15px;
    bottom: 35vh;
    font-size: 14px; }
  #head-container .copy-right {
    bottom: 10px;
    left: 15px;
    font-size: 12px; }
  #head-container .scroll {
    right: 15px;
    bottom: 10px; }
    #head-container .scroll img {
      width: 15px; }
    #head-container .scroll div {
      font-size: 13px;
      top: 20px; }

  .container .large-title {
    font-size: 100px;
    letter-spacing: 30px;
    right: 0;
    padding: 20px;
    margin: 0px 0px;
    width: 90%; }
    .container .large-title span {
      font-size: 40px;
      letter-spacing: 10px; }

  .project-container-gd .item-container .graphic-container .text-wrap {
    margin-top: 50px; }
    .project-container-gd .item-container .graphic-container .text-wrap .title {
      font-size: 18px; } }
@media all and (max-width: 570px) {
  #head-container .picture-container .text {
    font-size: 40px; } }
@media all and (max-width: 500px) {
  nav {
    top: -35px; }
    nav a::before {
      top: 10px; }

  #head-container {
    height: 90vh; }
    #head-container .social-media {
      top: 10px;
      left: 15px; }
      #head-container .social-media a {
        padding-top: 7px; }
        #head-container .social-media a img {
          width: 20px;
          height: 20px; }
    #head-container .logo {
      padding-top: 20px; }
    #head-container .picture-container {
      width: 100%; }
      #head-container .picture-container .light-bg {
        margin-top: 45px; }
      #head-container .picture-container img.portrait {
        left: 43vw;
        top: 3vh;
        width: 40%;
        transform: translateZ(100000px); }
      #head-container .picture-container img.dark {
        left: 10vw; }
      #head-container .picture-container .text {
        font-size: 40px;
        left: 11vw;
        top: 25vh; }
    #head-container .intro.left {
      display: none; }
    #head-container .intro.right {
      left: 15px;
      bottom: 8vh;
      font-size: 14px;
      text-align: left; }

  .container .large-title {
    font-size: 50px;
    letter-spacing: 30px;
    right: 0;
    padding: 20px;
    margin: 0px 0px;
    width: 90%;
    padding-bottom: 0px;
    -moz-transition: all 1s 0s;
    -o-transition: all 1s 0s;
    -webkit-transition: all 1s 0s;
    transition: all 1s 0s; }
    .container .large-title span {
      font-size: 25px;
      letter-spacing: 5px;
      -moz-transition: all 1s 0s;
      -o-transition: all 1s 0s;
      -webkit-transition: all 1s 0s;
      transition: all 1s 0s; }
  .container .item-container .title {
    font-size: 20px;
    line-height: 1.2; }
  .container .item-container .date {
    line-height: 1.2; }
  .container .item-container .detail {
    line-height: 1.5; }

  .project-container-gd .item-container .graphic-container img {
    width: 100%;
    margin-bottom: 0px; }
  .project-container-gd .item-container .graphic-container .text-wrap {
    margin-top: 10px;
    padding-left: 0px;
    width: 100%; }
    .project-container-gd .item-container .graphic-container .text-wrap .title {
      font-size: 18px; }

  .about-container .item-container .honor-detail .detail {
    font-size: 14px;
    margin: 0px 0px 0px 70px; }

  .experience-container .item-container a {
    font-size: 20px; }
  .experience-container .item-container .title {
    font-size: 20px; }
  .experience-container .item-container .date {
    margin-top: 5px;
    line-height: 1.2; }
  .experience-container .item-container .detail {
    margin-top: 5px; } }
@media all and (max-width: 330px) {
  #head-container .picture-container .text {
    top: 27vh; }

  .container .large-title {
    font-size: 40px; } }

/*# sourceMappingURL=index.css.map */
